@import '../../colors.scss';

.wrapper {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.75;
  color: $descriptionTextColor;
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  justify-content: center;
  height: 100%;
}

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  // font-size: 2rem;
  line-height: 38px;
  color: $headerColor;
}

@media only screen and (max-width: 576px) {
  .title {
    text-align: center;
    line-height: normal;
  }

  .textWrapper {
    line-height: normal;
    font-size: 1.2rem;
    overflow-y: auto;
    border: 1px solid #4a4b5713;
    padding: 0.5rem;
    flex-grow: 1;
  }


}
