@import '../../colors.scss';

.conclusionTitle {
  font-weight: bold;
  color: $headerColor;
}


.description {
    max-width: 30rem;
    margin: 1rem auto;
}

.buttons > div {
    margin-right: 1rem !important;
}


@media only screen and (max-width: 576px) {

  .description {
    font-size: 0.875rem;
    line-height: normal;
    margin: 0;
  }
}