@import '../../colors.scss';

.progress-container {
  position: absolute;
  z-index: 1;
  top: 0.75rem;
  .progress {
    width: 50rem;
    max-width: 90%;
  }

  .progress-bar {
    background-color: $primaryPurple;
  }
  span {
    color: $primaryPurple;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0 0.5rem;
    font-size: 0.75rem;
  }
}
