@import '../../colors.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .loginForm {
    background: #ffffff;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-width: 25rem;

    button {
      background-color: $primaryPurple;
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}
