.result {
  height: 100vh;
}

.quality {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  color: #6fd05f;
}

.remark,
.description {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  color: #afafaf;
}

.description {
  font-size: 18px;
}
