.result {
  height: 100vh;
}

.qualities {
  max-width: 30rem;
}

.quality {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.115rem;
  line-height: 1.5rem;
  text-align: left;
  color: #6fd05f;
}

.remark,
.description {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  color: #afafaf;
}

.description {
  font-size: 18px;
}
