.result {
  height: 100vh;
}

.qualities {
  max-width: 35rem;
}

.quality,
.suggestion {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.115rem;
  line-height: 1.5rem;
  // text-align: left;
}

.quality {
  color: #6fd05f;
}

.suggestion {
  color: #ffc652;
}

.remark,
.description {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  color: #afafaf;
}

.description {
  font-size: 18px;
}

.image {
  animation: fadeup 0.8s ease-in;
}

@keyframes fadeup {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1);
  }
}
