$backgroundGrey: #F8F8F8;
$primaryPurple: #7c57f6;
$secondaryPurple: rgba(197, 180, 252, 0.2);
$headerColor: #fd6f8d;
$descriptionTextColor: #4a4b57;


$primary: #7c57f6;
$info: #fd6f8d;

@import "../node_modules/bootstrap/scss/bootstrap";
