@import './colors.scss';

body {
  margin: 0;
  background-color: $backgroundGrey;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.Toastify__toast {
  background-color: $headerColor;
  border-radius: 10px;
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.75rem;
}

*::-webkit-scrollbar-thumb {
  background-color: $primaryPurple;
  border-radius: 30px;
}
*::-webkit-scrollbar {
  width: 0.3rem;
}

p {
  margin-bottom: 0.25rem;
}

@media only screen and (max-width: 576px) {
  body {
    overflow: auto;
  }

  p {
    font-size: 80%;
  }

  .progress-container svg {
    font-size: 1rem !important;
  }
}
