@import './colors.scss';

body {
  margin: 0;
  background-color: $backgroundGrey;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.Toastify__toast  {
  background-color: $headerColor;
  border-radius: 10px;
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.75rem;
}
