@import '../../colors.scss';

.title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    line-height: 2rem;
    color: $descriptionTextColor;
  }
  
  .lap {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    color: $headerColor;
  }
  