@import '../../colors.scss';

.title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    color: $descriptionTextColor;
  }
  
  .lap {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    color: $headerColor;
  }


@media only screen and (max-width: 576px) {
  .title {
    text-align: center;
  }
}
  